<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "--//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.payment.mapper.PaymentMapper">
    <!-- 결제 내역 저장 -->
    <insert id="insertPayment" parameterType="org.scoula.payment.domain.PaymentVO">
        INSERT INTO payment (
            trip_id,
            merchant_id,
            user_id,
            pay_at,
            amount,
            memo,
            payment_type
        ) VALUES (
                     #{tripId},
                     #{merchantId},
                     #{userId},
                     #{payAt},
                     #{amount},
                     #{memo},
                     #{paymentType}
                 )
    </insert>
</mapper>