<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "--//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.merchant.mapper.MerchantMapper">
    <insert id="createMerchant">
        INSERT INTO merchant (category_id, merchant_name)
        VALUES (#{categoryId}, #{merchantName})
    </insert>

    <select id="getMerchant" resultType="org.scoula.merchant.domain.MerchantVO">
        SELECT *
        FROM merchant
        WHERE merchant_id=#{id}
    </select>
    <select id="getMerchantCategory" resultType="org.scoula.merchant.domain.MerchantCategoryVO">
        SELECT *
        FROM merchant_category
        WHERE category_id=#{categoryId}
    </select>
</mapper>